.advantages {
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.advantages__info {
  background-color: $color-sky;
  background-image: url("../img/bg-triangle.svg");
  background-position: center -9px;
  background-repeat: no-repeat;
  min-height: 209px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    background-image: none;
    max-width: 256px;
    min-height: 256px;
  }

  @media (min-width: $desktop-width) {
    max-width: 400px;
  }

  &--bridge {
    min-height: 191px;
    background-image: none;

    @media (min-width: $tablet-width) {
      order: 0;
    }
  }
}

.advantages__picture {
  &--sedona,
  &--bridge {
    background-color: $color-sky;
    height: 260px;
  }

  @media (min-width: $tablet-width) {
    background-color: $color-sky;
    height: 256px;
  }

  &--bridge {
    @media (min-width: $tablet-width) {
      order: -1;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $color-sky;
    max-width: 100%;
    overflow: hidden;
  }
}

.advantages__item {
  &--sedona {
    background-color: $color-sky;
    min-height: 469px;

    @media (min-width: $tablet-width) {
      display: flex;
      min-height: 256px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      min-height: 256px;
    }
  }

  &--bridge {
    background-color: $color-sky;
    min-height: 451px;

    @media (min-width: $tablet-width) {
      display: flex;
      min-height: 256px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      min-height: 256px;
    }
  }

  &--house,
  &--gift,
  &--burger {
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 12%;
    min-height: 110px;
    padding: 35px 20px 0 70px;
    text-align: left;

    @media (min-width: $tablet-width) {
      background-size: 35%;
      display: inline-block;
      max-width: 256px;
      min-height: 330px;
      padding: 161px 37px 0 37px;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      display: inline-block;
      min-width: 400px;
      min-height: 330px;
    }
  }

  &--house {
    background-image: url("../img/icon-house.svg");
    background-position: 22px 26px;

    @media (min-width: $tablet-width) {
      background-position: 90px 57px;
      background-size: 30%;
      padding: 161px 45px 0 45px;
    }

    @media (min-width: $desktop-width) {
      background-position: 157px 57px;
      background-size: 20%;
      padding-right: 70px;
      padding-left: 70px;
    }
  }

  &--gift {
    background-image: url("../img/icon-gift.svg");
    background-position: 25px 16px;
    background-size: 10%;
    padding: 28px 20px 0 70px;

    @media (min-width: $tablet-width) {
      background-position: 95px 55px;
      background-size: 25%;
      order: 2;
      padding: 161px 37px 0 37px;
    }

    @media (min-width: $desktop-width) {
      background-position: 165px 55px;
      background-size: 17%;
      padding-right: 90px;
      padding-left: 90px;
    }
  }

  &--burger {
    background-image: url("../img/icon-burger.svg");
    background-position: 20px 22px;
    //padding: 155px 37px 0 37px;
    padding: 27px 20px 36px 70px;
    //padding-bottom: 36px;

    @media (min-width: $tablet-width) {
      background-position: 90px 61px;
      order: 1;
      background-size: 30%;
      padding: 161px 50px 0 50px;
    }

    @media (min-width: $desktop-width) {
      background-position: 160px 60px;
      background-size: 20%;
    }
  }

  &--area,
  &--road,
  &--crowdy {
    background-color: $color-extralight-grey;

    @include global-padding;

    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $tablet-width) {
      display: inline-block;
      max-width: 256px;
      min-height: 256px;
    }

    @media (min-width: $desktop-width) {
      display: inline-block;
      min-width: 400px;
      min-height: 256px;
    }
  }
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 0;

  @include title($size-title, $height-title, $weight-bold, $color-black);

  &--sedona {
    padding-top: 66px;
    padding-bottom: 11px;

    @include title($size-title, $height-title, $weight-bold, $color-white);

    @media (min-width: $tablet-width) {
      padding-top: 47px;
      padding-bottom: 10px;
      font-size: 21px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 53px;
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  &--bridge {
    padding-top: 39px;
    padding-bottom: 9px;
    letter-spacing: 0.12px;

    @include title($size-title, $height-title, $weight-bold, $color-white);

    @media (min-width: $tablet-width) {
      padding-top: 46px;
      padding-bottom: 10px;
      font-size: 21px;
      padding-left: 32px;
      padding-right: 32px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 103px;
      padding-right: 103px;
      padding-top: 55px;
    }
  }

  &--house,
  &--burger,
  &--gift {
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      font-size: 21px;
      margin-bottom: 20px;
    }
  }

  &--area,
  &--road,
  &--crowdy {
    padding-top: 27px;
    padding-bottom: 9px;

    @media (min-width: $tablet-width) {
      font-size: 21px;
      padding: 50px;
      padding-bottom: 9px;
      padding-top: 46px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 105px;
      padding-right: 105px;
    }
  }
}

.advantages__description {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.1px;

  &--sedona {
    color: $color-white;
    letter-spacing: 0.15px;
    margin-top: 14px;
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-top: 20px;
      padding-left: 22px;
      padding-right: 22px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 42px;
      padding-right: 42px;
    }
  }

  &--bridge {
    color: $color-white;
    margin-top: 16px;
    margin-bottom: 15px;
    letter-spacing: 0.1px;

    @media (min-width: $tablet-width) {
      margin-top: 22px;
      padding-left: 22px;
      padding-right: 22px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 20px;
      padding-left: 72px;
      padding-right: 72px;
    }
  }

  &--house,
  &--burger,
  &--gift {
    margin-bottom: 0;
  }

  &--house {
    letter-spacing: 0.1px;

    @media (min-width: $desktop-width) {
      //padding-left: 130px;
      //padding-right: 130px;
    }
  }

  &--area,
  &--road,
  &--crowdy {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 27px;

    @include border-bottom;

    @media (min-width: $tablet-width) {
      padding-top: 22px;
      padding-left: 40px;
      padding-right: 40px;
      border-bottom: none;
      margin: 0;
    }
  }

  &--area {
    @media (min-width: $tablet-width) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  &--crowdy {
    border-bottom: none;

    @media (min-width: $tablet-width) {
      padding-left: 34px;
      padding-right: 34px;
    }
  }

  &--road {
    @media (min-width: $desktop-width) {
      padding-left: 45px;
      padding-right: 45px;
    }
  }
}

.advantages__number {
  &--sedona,
  &--bridge {
    margin-top: 20px;
    color: $color-white;
  }
}

.advantages__image {
  &--sedona {
    @media (min-width: $desktop-width) {
      margin-top: -72px;
    }
  }

  &--bridge {
    @media (min-width: $desktop-width) {
      margin-top: -77px;
    }
  }
}

.advantages__span {
  @media (min-width: $tablet-width) {
    display: block;
  }
}
