.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantages__description {
  margin-bottom: 45px;

  &--first,
  &--second {
    color: $color-white;
  }
}

.advantages__info {
  background-color: $color-sky;
  background-image: url("../img/bg-triangle.svg");
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 209px;

  &:nth-child(2) {
    order: -1;
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    max-width: 256px;
  }

  @media (min-width: $desktop-width) {
    max-width: 400px;
  }
}

.advantages__item {
  &--first,
  &--second {
    background-color: $color-sky;
    max-height: 469px;

    @media (min-width: $tablet-width) {
      display: flex;
      max-height: 256px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      max-height: 256px;
    }

    &--second .advantages__picture {
      @media (min-width: $tablet-width) {
        order: -1;
      }
    }
  }

  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 15%;
    min-height: 139px;

    @media (min-width: $tablet-width) {
      display: inline-block;
      max-width: 256px;
    }

    @media (min-width: $desktop-width) {
      display: inline-block;
      min-width: 400px;
      min-height: 330px;
    }
  }

  &:nth-child(2) {
    background-image: url("../img/icon-house.svg");
  }

  &:nth-child(3) {
    background-image: url("../img/icon-gift.svg");
  }

  &:nth-child(4) {
    background-image: url("../img/icon-burger.svg");
  }

  &:nth-child(6),
  &:nth-child(7),
  &:nth-child(8) {
    background-color: $color-extralight-grey;

    @include global-padding;
    @include border-bottom;

    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $tablet-width) {
      display: inline-block;
      max-width: 256px;
    }

    @media (min-width: $desktop-width) {
      display: inline-block;
      min-width: 400px;
      min-height: 256px;
    }
  }
}

.advantages__title {
  @include margintb0;
  @include title($size-title, $height-title, $weight-bold, $color-black);

  &--first,
  &--second {
    padding-top: 45px;

    @include title($size-title, $height-title, $weight-bold, $color-white);
  }

  &--third,
  &--fourth,
  &--fifth {
    padding-top: 30px;
  }
}

.advantages__number {
  &--first,
  &--second {
    color: $color-white;
  }
}
