.attraction-list label {
  display: block;

  @include title($size-title, $height-title, $weight-bold, $color-black);
  text-transform: none;

  @media (min-width: $tablet-width) {
    //min-width: 324px;
    text-align: center;
    display: inline-block;
  }

  @media (min-width: $desktop-width) {
    width: 240px;
    text-align: center;
    display: inline-block;
  }
}

.attraction-list__label {
  @media (min-width: $tablet-width) {
    width: 324px;
  }
}
