.attraction-list__label {
  display: block;
  padding-left: 80px;

  @include title($size-title, $height-title, $weight-bold, $color-black);
  text-transform: none;

  @media (min-width: $tablet-width) {
    //width: 324px;
    text-align: center;
    display: inline-block;
    padding-left: 140px;
  }

  @media (min-width: $desktop-width) {
    //width: 240px;
    text-align: center;
    display: inline-block;
    padding-left: 80px;
  }
}

.attraction-list__input:checked:hover + label::before,
.attraction-list__input:checked:focus + label::before {
  background-color: $color-light-grey-2;
}

.attraction-list__input:checked:active + label::before {
  background-color: $color-medium-grey-4;
}

.attraction-list__input:hover + label::before,
.attraction-list__input:focus + label::before {
  background-color: $color-light-grey-2;
}


.attraction-list__input:active + label::before {
  background-color: $color-medium-grey-4;
}

.attraction-list__input + label::before {
  content: "";
  width: 56px;
  height: 56px;
  border-radius: 5px;
  background-color: $color-light-grey-3;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    top: 0;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 0;
  }
}

.attraction-list__input:checked + label::after {
  content: url("../img/icon-tick.svg");
  position: absolute;
  top: 15px;
  left: 15px;
}
