.booking {
  background-color: $color-white;
}

.booking__title {
  font-size: 21px;
  font-weight: $weight-bold;
  line-height: 26px;
  color: $color-black;
  margin-top: 27px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-top: 55px;
    margin-bottom: 30px;
  }
}

.booking__description {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 24px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    //padding-left: 165px;
    //padding-right: 165px;
    padding-left: 185px;
    padding-right: 185px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 400px;
    padding-right: 400px;
    //margin-bottom: 28px;
  }
}

.booking__button {
  font-size: 21px;
  font-weight: $weight-bold;
  line-height: 26px;
  color: $color-white;
  background-color: $color-sky;
  display: block;
  margin: 0 20px;
  padding: 17px 0;
  margin-bottom: 49px;

  &:hover,
  &:focus {
    background-color: $color-sky-light-2;
  }

  &:active {
    background-color: $color-sky-light-3;
    color: rgba(255, 255, 255, 0.2);
  }

  &:disabled {
    background-color: $color-light-grey-2;
  }

  @media (min-width: $tablet-width) {
    max-width: 458px;
    margin: 43px auto 58px;
  }

  @media (min-width: $desktop-width) {
    //max-width: 458px;
    margin: 49px auto 64px;
  }
}

.booking__map {
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  //max-height: 351px;
  height: 351px;
  width: 100%;

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-map-tablet@1x.jpg");
    height: 351px;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-map-desktop@1x.jpg");
    height: 351px;
  }
}

.booking__iframe {
  border: none;
  height: 100%;
  width: 100%;
}
