.form-review {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 38px;
  z-index: 5;
  position: relative;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    padding: 60px 60px 62px 60px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 46px 120px 0 120px;
    width: 1200px;
    padding-bottom: 65px;
  }
}

.form-review__paragraph {
  @include title($size-title, $height-title, $weight-bold, $color-black);
  margin-top: 0;
  margin-bottom: 22px;
  letter-spacing: 0.675px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    text-align: left;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    letter-spacing: 0.3px;
  }

  &--contacts,
  &--attraction {
    @media (min-width: $tablet-width) {
      text-align: center;
      margin-bottom: 20px;
      padding-left: 150px;
      padding-right: 150px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 65px;
    }
  }

  &--contacts {
    letter-spacing: 0.1px;

    @media (min-width: $tablet-width) {
      position: relative;
      margin-bottom: 27px;
      letter-spacing: 0.1px;

      &::before {
        content: "";
        display: block;
        width: 124px;
        height: 1px;
        background-color: $color-light-grey-2;
        position: absolute;
        top: 10px;
        left: 0;

        @media (min-width: $desktop-width) {
          width: 280px;
        }
      }

      &::after {
        content: "";
        display: block;
        width: 124px;
        height: 1px;
        background-color: $color-light-grey-2;
        position: absolute;
        top: 10px;
        right: 0;

        @media (min-width: $desktop-width) {
          width: 280px;
        }
      }
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 68px;
      margin-top: 5px;
    }
  }

  &--attraction {
    letter-spacing: 0.05px;
    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
      position: relative;
      margin-bottom: 25px;
      letter-spacing: 0.005px;

      &::before {
        content: "";
        display: block;
        width: 124px;
        height: 1px;
        background-color: $color-light-grey-2;
        position: absolute;
        top: 22px;
        left: 0;

        @media (min-width: $desktop-width) {
          width: 280px;
        }
      }

      &::after {
        content: "";
        display: block;
        width: 124px;
        height: 1px;
        background-color: $color-light-grey-2;
        position: absolute;
        top: 22px;
        right: 0;

        @media (min-width: $desktop-width) {
          width: 280px;
        }
      }
    }

    @media (min-width: $desktop-width) {
      padding-left: 300px;
      padding-right: 300px;
    }
  }

  &--user-review {
    letter-spacing: 0.1px;
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      text-align: center;
      padding-left: 150px;
      padding-right: 150px;
      position: relative;
      margin-bottom: 56px;
      letter-spacing: 0.055px;

      &::before {
        content: "";
        display: block;
        width: 124px;
        height: 1px;
        background-color: $color-light-grey-2;
        position: absolute;
        top: 10px;
        left: 0;

        @media (min-width: $desktop-width) {
          width: 280px;
        }
      }

      &::after {
        content: "";
        display: block;
        width: 124px;
        height: 1px;
        background-color: $color-light-grey-2;
        position: absolute;
        top: 10px;
        right: 0;

        @media (min-width: $desktop-width) {
          width: 280px;
        }
      }
    }
  }

  &--impression {
    letter-spacing: 0.05px;
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      letter-spacing: 0.05px;
      margin-bottom: 57px;
    }

    @media (min-width: $desktop-width) {
      text-align: left;
      padding-left: 80px;
      margin-bottom: 55px;
      letter-spacing: 0.05px;
    }
  }

  &--personal-data {
    @media (min-width: $tablet-width) {
      margin-bottom: 57px;
    }

    @media (min-width: $desktop-width) {
      //text-align: left;
      //padding-left: 80px;
      margin-bottom: 55px;
    }
  }
}

.user-name,
.user-surname,
.user-middlename {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.form-review__contacts .form-review__paragraph {
  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form-review__button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: $color-white;
  background-color: $color-sky;
  width: 100%;
  display: block;
  border: none;
  outline: none;
  padding-top: 17px;
  padding-bottom: 17px;
  text-transform: uppercase;
  letter-spacing: 0.05px;

  &:hover,
  &:focus {
    background-color: $color-sky-light-2;
  }

  &:active {
    background-color: $color-sky-light-3;
    color: rgba(255, 255, 255, 0.2);
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    font-size: 20px;
    letter-spacing: 0.7px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
    padding-bottom: 16px;
    letter-spacing: 0.7px;
    padding-right: 0;
  }
}

.form-review__content {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.form-review__personal-data {
  padding-top: 18px;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    min-width: 322px;
    margin-top: 0;
    padding-top: 0;
    padding-left: 59px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
    //margin-left: 192px;
    padding-left: 80px;
  }
}

.form-review__contacts {
  margin-top: 43px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: 34px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 29px;
  }
}

.form-review__attraction {
  margin-top: 48px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 27px;
  }
}

.form-review__attraction-list {
  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 95px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0;
  }
}

.form-review__user-review {
  margin-top: 45px;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
    width: 100%;
  }
}

.form-review__impression {
  margin-top: 47px;
  position: relative;

  @media (min-width: $tablet-width) {
    order: -1;
    min-width: 322px;
    margin-top: 0;

    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 324px;
      background-color: $color-light-grey-2;
      position: absolute;
      top: 0;
      right: 0;

      @media (min-width: $desktop-width) {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 480px;
  }
}

.form-review__impression-list {
  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.form-review__required {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    max-width: 324px;
    margin-left: auto;
    margin-top: 21px;
    //margin-right: 21px;
  }
}

.form-review__input-container {
  margin-bottom: 20px;
  text-align: left;

  &--impression,
  &--attraction {
    width: 100%;
    height: 56px;
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    position: relative;
  }

  &--impression {
    @media (min-width: $tablet-width) {
      margin-bottom: 22px;
    }
  }

  &--attraction {
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      width: 202px;
      margin-bottom: 33px;
    }

    @media (min-width: $desktop-width) {
      width: 205px;
      margin-bottom: 35px;
    }

    &:nth-of-type(4n+1) {
      @media (min-width: $desktop-width) {
        width: 259px;
      }
    }

    &:nth-of-type(4n+2) {
      @media (min-width: $desktop-width) {
        width: 258px;
        letter-spacing: 0.4px;
      }
    }

    &:nth-of-type(4n+3) {
      @media (min-width: $desktop-width) {
        width: 238px;
      }
    }

    &:nth-of-type(4n+4) {
      @media (min-width: $desktop-width) {
        width: 204px;
      }
    }
  }
}

.user-phonenumber {
  position: relative;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    //padding-right: 50px;
  }
}

.user-email {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  margin-bottom: 5px;

  @media (min-width: $desktop-width) {
    border-bottom: none;
    padding-right: 0;
    width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    //padding-right: 50px;
  }
}

.form-review__input {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  height: 58px;
  background-color: $color-light-grey-3;
  border: none;
  outline: none;
  padding-left: 20px;

  &::placeholder {
    color: $color-black;
    font-weight: 700;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
  }

  &:hover,
  &:focus {
    background-color: $color-light-grey-2;
  }

  &:active {
    border: 4px solid $color-light-grey-2;
    background-color: $color-white;
    padding-left: 16px;
  }

  &--username {
    width: 230px;

    @media (min-width: $tablet-width) {
      width: 212px;
    }

    @media (min-width: $desktop-width) {
      width: 352px;
      margin-left: 13px;
    }
  }

  &--usersurname,
  &--usermiddlename {
    //letter-spacing: 0.2px;
    width: 192px;

    @media (min-width: $tablet-width) {
      letter-spacing: 0.001px;
      width: 174px;
      font-size: 16px;
    }

    @media (min-width: $desktop-width) {
      letter-spacing: 0.2px;
      width: 313px;
    }
  }

  &--phone {
    width: 100%;
    margin-top: 7px;
    letter-spacing: 0.2px;

    @media (min-width: $tablet-width) {
      letter-spacing: 0.001px;
      font-size: 16px;
    }

    @media (min-width: $desktop-width) {
      width: 318px;
      padding-top: 0;
      padding-bottom: 0;
      margin-left: 16px;
      letter-spacing: 0.001px;
    }
  }

  &--email {
    width: 100%;
    margin-top: 5px;
    letter-spacing: 0.2px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
    }

    @media (min-width: $desktop-width) {
      width: 318px;
      padding-top: 0;
      padding-bottom: 0;
      //margin-left: 18px;
    }
  }
}

.form-review__label {
  line-height: 24px;
  color: $color-black;
  padding-left: 20px;
  letter-spacing: 0.3px;

  @media (min-width: $tablet-width) {
    letter-spacing: 0.3px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    letter-spacing: 0.1px;
  }
}

.form-review__textarea {
  background-color: $color-light-grey-3;
  border: none;
  outline: none;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 18px;
  height: 160px;
  width: 100%;
  margin-bottom: 45px;
  resize: none;

  &::placeholder {
    @include title($size-title, $height-title, $weight-bold, $color-black);

    @media (min-width: $desktop-width) {
      width: 100%;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.005px;
      //padding-top: 10px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 52px;
    padding-top: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 52px;
  }
}

.user-phonenumber::after {
  content: "";
  width: 58px;
  height: 58px;
  background-color: $color-light-grey-5;
  position: absolute;
  z-index: 1;
  top: 31px;
  bottom: 0;
  right: 0;

  @media (min-width: $tablet-width) {
    top: 31px;
    bottom: 0;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    top: 7px;
    bottom: 0;
    right: 0;
  }
}

.user-email::after {
  content: "";
  width: 58px;
  height: 58px;
  background-color: $color-light-grey-5;
  position: absolute;
  z-index: 1;
  top: 29px;
  bottom: 0;
  right: 0;

  @media (min-width: $tablet-width) {
    top: 29px;
    bottom: 0;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    top: 5px;
    bottom: 0;
    right: 0;
  }
}

.user-phonenumber::before {
  content: url("../img/icon-phone.svg");
  position: absolute;
  z-index: 10;
  top: 49px;
  bottom: 0;
  right: 20px;
  width: 18px;
  height: 18px;

  @media (min-width: $desktop-width) {
    top: 24px;
    bottom: 0;
    right: 20px;
  }
}

.user-email::before {
  content: url("../img/icon-mail.svg");
  position: absolute;
  z-index: 10;
  top: 53px;
  bottom: 0;
  right: 20px;
  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    top: 50px;
  }

  @media (min-width: $desktop-width) {
    top: 27px;
    bottom: 0;
    right: 20px;
  }
}

.form-review__span-phone {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
