.intro {
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  //background-position: center 333px, center -110px;
  background-position: center bottom, center top;
  //background-position: center 333px, center bottom -70px;
  background-repeat: no-repeat, no-repeat;
  //background-size: 780px;
  //width: 320px;
  //top center;
  //margin: 0 auto;
  //width: 100%;
  background-color: $color-sky;
  height: 389px;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
    //background-position: center 333px, center bottom;
    //background-position: center 333px, center -110px;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-tablet@1x.jpg");
    //background-position: center 462px, center 0;
    background-position: center bottom -1px, center top;
    background-size: 155%, cover;
    background-repeat: no-repeat, no-repeat;
    //top center;
    height: 518px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-tablet@2x.jpg");
      //background-position: center 463px, top 500px;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-position: center 462px, top center;
    background-size: 100%, 100%;
    background-repeat: no-repeat, no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
    }
  }

  &--photo,
  &--form {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-position: center bottom, center bottom;
    //background-position: center 103px, center top -190px;
    background-size: auto, 230%;
    background-repeat: no-repeat, no-repeat;
    height: 158px;
    //background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
      //background-position: center 103px, center bottom -250px;
    }

    @media (min-width: $tablet-width) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-tablet@1x.jpg");
      //background-position: center 235px, 0 -228px;
      background-position: center bottom, center bottom;
      background-repeat: no-repeat, no-repeat;
      height: 291px;
      background-size: auto, 100%;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
      background-position: center 244px, 0 -218px;
      background-repeat: no-repeat, no-repeat;
      height: 300px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
      }
    }
  }
}

.intro__welcome-logo {
  margin-top: 91px;
  margin-bottom: 60px;
  //padding-left: 20px;
  //padding-right: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 77px;
    width: 464px;
    height: 352px;
  }

  &--photo,
  &--form {
    margin-top: 50px;
    text-align: center;
    width: 230px;
    height: 40px;
    margin-bottom: 64px;

    @media (min-width: $tablet-width) {
      margin-top: 93px;
      width: 458px;
      height: 79px;
      margin-bottom: 120px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 100px;
      margin-bottom: 165px;
    }
  }
}
