.intro {
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-position: center 333px, center -105px;
  background-repeat: no-repeat, no-repeat;
  //width: 320px;
  //top center;
  margin: 0 auto;
  width: 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
    //background-position: center 333px, center bottom;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-position: center 462px, center 0;
    background-size: 155%, 100%;
    background-repeat: no-repeat, no-repeat;
    //top center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-tablet@2x.jpg");
      //background-position: center 463px, top 500px;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-position: center 462px, top center;
    background-size: 100%, 100%;
    background-repeat: no-repeat, no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
    }
  }

  &--photo,
  &--form {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-position: center 103px, -225px -230px;
    background-repeat: no-repeat, no-repeat;
    //height: 158px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-tablet@1x.jpg");
      background-position: center 235px, 0 -220px;
      background-repeat: no-repeat, no-repeat;
      //height: 290px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
      background-position: center 241px, 0 -220px;
      background-repeat: no-repeat, no-repeat;
      //height: 313px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
      }
    }
  }
}

.intro__welcome-logo {
  margin-top: 91px;
  margin-bottom: 60px;
  //padding-left: 20px;
  //padding-right: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 77px;
    width: 464px;
    height: 352px;
  }

  &--photo,
  &--form {
    margin-top: 50px;
    text-align: center;
    width: 230px;
    height: 40px;

    @media (min-width: $tablet-width) {
      margin-top: 80px;
      width: 458px;
      height: 110px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 85px;
      margin-bottom: 165px;
    }
  }
}

.intro__text {
  padding-right: 20px;
  padding-left: 20px;
  background-color: $color-white;
  margin-top: 19px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    //padding-top: 150px;
  }
}

.intro__title {
  @include title($size-title, $height-title, $weight-bold, $color-black);
  //margin-top: 60px;
  //margin-top: 5px;
  padding-top: 60px;
  margin-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 48px;
    padding-top: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 270px;
    padding-right: 270px;
  }
}

.intro__description {
  line-height: 26px;
  letter-spacing: 0.15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }
}
