.page-main {
  min-width: 320px;
  margin: 0 auto;
  //background-color: $color-blue-black;

  @media (min-width: 768px) {
    width: 768px;
    //padding: 0 40px;
    margin: 0 auto;
  }

  @media (min-width: 1200px) {
    width: 1200px;
    //padding: 0 40px;
    margin: 0 auto;
  }

  &--form {
    margin: 0 auto;
  }
}
