.page-footer {
  background-color: $color-white;
  min-width: 320px;
  margin: 0 auto;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 768px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 60px 33px 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 0 120px;
    padding-top: 32px;
    padding-bottom: 31px;
    justify-content: space-between;
  }
}

.page-footer__hashtag {
  font-size: 21px;
  font-weight: $weight-bold;
  line-height: 26px;
  color: $color-black;
  padding-top: 35px;
  margin-top: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-bottom: 2px;
  }
}

.page-footer__copyright {
  line-height: 26px;
  color: $color-black;
  margin: 0 auto;
  margin-top: 28px;
  display: flex;
  justify-content: center;
  height: 57px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 132px;
  }
}

.page-footer__copyright p {
  display: block;
  margin-right: 7px;
  padding-left: 5px;
  letter-spacing: 0.35px;

  @media (min-width: $tablet-width) {
    letter-spacing: 0.35px;
    padding-left: 8px;
  }

  @media (min-width: $desktop-width) {
    //padding-top: 17px;
    //padding-bottom: 0;
    //padding-left: 10px;
  }
}

.page-footer__copyright-logo {
  //margin-top: 29px;

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.page-footer__copyright-logo svg {
  fill: $color-black;
  width: 39px;
  height: 57px;

  @media (min-width: $tablet-width) {
    //width: 41px;
    //height: 57px;
    //padding-top: 5px;
    //padding-left: 5px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    //padding-top: 6px;
    margin-bottom: 0;
  }
}

.page-footer__copyright-logo:hover svg,
.page-footer__copyright-logo:focus svg {
  fill: $color-sky;
}

.page-footer__copyright-logo:active svg {
  opacity: 30%;
}
