.page-footer {
  background-color: $color-white;
  width: 320px;
  margin: 0 auto;

  @include side-shadow;
}

.page-footer__social-list {
  @include liststyle;
}

.page-footer__hashtag {
  @include margintb0;
  font-size: 21px;
  font-weight: $weight-bold;
  line-height: 26px;
  color: $color-black;
}

.page-footer__copyright {
  line-height: 26px;
  color: $color-black;
}
