.photography {
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    padding-top: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding-top: 77px;
  }
}

/*
.photography {
  @media (min-width: $tablet-width) {
    padding: 75px 60px 0 60px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding: 110px 0 0 0;
  }
}
*/

.photography__gallery {
  @media (min-width: $tablet-width) {
    padding: 70px 60px 0 60px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.photography__item {
  border-top: 1px solid $color-light-grey-2;
  padding-top: 23px;
  padding-bottom: 15px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  &:last-of-type {
    border-bottom: 1px solid $color-light-grey-2;
    padding-bottom: 15px;

    @media (min-width: $tablet-width) {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &:nth-of-type(2),
  &:nth-of-type(3),
  &:nth-of-type(4) {
    @media (min-width: $tablet-width) {
      max-width: 324px;
    }

    @media (min-width: $desktop-width) {
      min-width: 400px;
    }
  }
}

.photography__content {
  position: relative;
  margin: 0;

  @media (min-width: $tablet-width) {
    //height: 347px;
  }

  @media (min-width: $desktop-width) {
    min-width: 400px;
    height: 267px;
  }

  &--front {
    @media (min-width: $tablet-width) {
      //height: 480px;
    }

    @media (min-width: $desktop-width) {
      height: 400px;
    }
  }
}

.photography__title {
  @include title($size-title, $height-title, $weight-bold, $color-black);
  padding-top: 36px;
  margin-top: 0;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding-bottom: 30px;
    font-size: 30px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.photography__description {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 25px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 0;
    padding-left: 170px;
    padding-right: 170px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-bottom: 70px;
    padding-left: 380px;
    padding-right: 380px;
  }
}

.photography__caption,
.photography-item__author,
.photography-item__likes {
  font-weight: 700;
  line-height: 24px;
  color: $color-black;
  text-align: left;

  @media (min-width: $tablet-width) {
    color: $color-white;
  }
}

.photography__name-author-wrapper {
  &--front {
    @media (min-width: $tablet-width) {
      width: 500px;
    }
  }

  &--local-flora,
  &--road-north,
  &--devils-bridge {
    @media (min-width: $tablet-width) {
      width: 200px;
    }
  }
}

.photography__caption {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    color: $color-black;
    background-color: $color-light-grey-3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    background-color: rgba(00, 00, 00, 0.3);
    color: $color-white;
  }
}

.photography-item__photo-name {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    //width: 80%;
    margin-top: 15px;
    //height: 50%;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    //height: 30%;
    //height: 50%;
    //width: 80%;
  }

  &--road-north {
    letter-spacing: 0.3px;

    @media (min-width: $tablet-width) {
      letter-spacing: 0.3px;
    }
  }

  &--local-flora {
    @media (min-width: $tablet-width) {
      letter-spacing: 0.1px;
    }
  }
}

.photography-item__author {
  font-weight: 400;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    color: $color-black;
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    color: $color-white;
  }
}

.photography-item__likes {
  @media (min-width: $tablet-width) {
    color: $color-black;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    color: $color-white;
    align-self: center;
  }

  &--front {
    @media (min-width: $tablet-width) {
      align-self: center;
    }

    @media (min-width: $desktop-width) {
      align-self: center;
    }
  }

  &--local-flora {
    @media (min-width: $tablet-width) {
      padding-right: 10px;
    }
  }

  &--road-north {
    @media (min-width: $tablet-width) {
      padding-right: 16px;
    }
  }

  &--devils-bridge {
    @media (min-width: $tablet-width) {
      padding-right: 10px;
    }
  }
}

.photography-item__icon-like {
  @media (min-width: $tablet-width) {
    fill: $color-light-grey-6;
    margin-right: 5px;
  }

  @media (min-width: $desktop-width) {
    fill: $color-white;
  }

  &--front {
    margin-right: 10px;

    @media (min-width: $tablet-width) {
      margin-right: 5px;
    }
  }

  &--local-flora {
    margin-right: 12px;

    @media (min-width: $tablet-width) {
      margin-right: 5px;
    }
  }

  &--road-north {
    margin-right: 10px;

    @media (min-width: $tablet-width) {
      margin-right: 5px;
    }
  }

  &--devils-bridge {
    margin-right: 10px;

    @media (min-width: $tablet-width) {
      margin-right: 5px;
    }
  }
}

.photography-item__picture {
  @media (min-width: $tablet-width) {
    height: 267px;
    display: block;
  }

  &--front {
    @media (min-width: $tablet-width) {
      height: 400px;
    }
  }
}
