.review {
  margin-top: 50px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: 110px;
  }
}

.review__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;

  @include title($size-title, $height-title, $weight-bold, $color-black);
}

.review__description {
  line-height: 24px;
  color: $color-black;
  margin-top: 40px;
}
