.site-nav {
  //height: 223px;
  position: relative;

  @media (min-width: $tablet-width) {
    //height: 56px;
    width: 100%;
    padding: 0 25px 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 0 70px 0 90px;
  }
}

.site-nav__close {
  position: absolute;
  top: 17px;
  right: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.site-nav__list {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    //display: flex;
    //justify-content: space-between;
    //background-color: $color-white;
    padding-top: 15px;
    //padding-bottom: 18px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    //display: flex;
    //justify-content: space-between;
  }
}

.site-nav__list-item {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  //color: $color-white;
  //height: 55px;
  padding: 7.5px 0 7.5px 0;
  //background-color: $color-sky;

  &:hover,
  &:focus {
    background-color: $color-sky-light-2;

    @media (min-width: $tablet-width) {
      background-color: $color-white;
      //padding-bottom: 18px;
    }
  }

  &:active {
    background-color: $color-sky-light-3;

    @media (min-width: $tablet-width) {
      background-color: $color-white;
    }
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
    //background-color: $color-white;
    padding: 0;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $color-sky-medium;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  &:not(:first-child) {
    border-top: 1px solid $color-sky-light;

    @media (min-width: $tablet-width) {
      border-top: none;
    }
  }

  &:last-child {
    box-shadow: 0 25px 0 0 rgba(00, 11, 11, 0.2);

    @media (min-width: $tablet-width) {
      box-shadow: none;
      //width: 151px;
    }
  }
}

.site-nav__list-link {
  color: $color-white;
  display: block;

  &:hover,
  &:focus {
    @media (min-width: $tablet-width) {
      color: $color-sky;
    }
  }

  &:active {
    @media (min-width: $tablet-width) {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    color: $color-black;
    padding: 0;
  }
}

.site-nav__list-item:nth-child(4n+1) {
  @media (min-width: $tablet-width) {
    text-align: left;
    width: 130px;
    padding-right: 20px;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 215px;
  }
}

.site-nav__list-item:nth-child(4n+2) {
  @media (min-width: $tablet-width) {
    text-align: left;
    width: 200px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 3px;
  }

  @media (min-width: $desktop-width) {
    width: 290px;
  }
}

.site-nav__list-item:nth-child(4n+3) {
  @media (min-width: $tablet-width) {
    text-align: right;
    width: 213px;
    padding-left: 17px;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
  }
}

.site-nav__list-item:nth-child(4n+4) {
  @media (min-width: $tablet-width) {
    text-align: right;
    width: 148px;
    padding-bottom: 15px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 235px;
  }
}
