.site-nav {
  height: 223px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 56px;
    width: 100%;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.site-nav__close {
  position: absolute;
  top: 17px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.site-nav__list {
  @include liststyle;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.site-nav__list-item {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  //color: $color-white;
  height: 55px;
  padding: 7.5px 0 7.5px 0;
  background-color: $color-sky;

  &:hover,
  &:focus {
    background-color: $color-sky-light-2;

    @media (min-width: $tablet-width) {
      background-color: $color-white;
    }
  }

  &:active {
    background-color: $color-sky-light-3;

    @media (min-width: $tablet-width) {
      background-color: $color-white;
    }
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
    background-color: $color-white;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $color-sky-medium;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  &:not(:first-child) {
    border-top: 1px solid $color-sky-light;

    @media (min-width: $tablet-width) {
      border-top: none;
    }
  }
}

.site-nav__list-link {
  color: $color-white;
  display: block;

  &:hover,
  &:focus {
    @media (min-width: $tablet-width) {
      color: $color-sky;
    }
  }

  &:active {
    @media (min-width: $tablet-width) {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    color: $color-black;
  }
}
