.video-player {
  width: 280px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.6) 44px, #f2f2f2 44px, #f2f2f2);
  position: relative;
  margin-top: -50px;

  @media (min-width: $tablet-width) {
    width: 648px;
    flex-wrap: nowrap;
    align-items: center;
    background-image: none;
    background-color: rgba(00, 00, 00, 0.6);
    margin-top: -97px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.video-player__input-type-range {
  position: relative;
  width: 100%;
  padding: 8px 22px 38px 22px;
  margin: auto;

  @media (min-width: $tablet-width) {
    padding: 34px 0 36px 42px;
    margin: 0;
    width: 431px;
  }

  @media (min-width: $desktop-width) {
    padding: 34px 0 36px 42px;
    width: 582px;
  }
}

.video-player__button {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;

  &--volume {
    position: absolute;
    top: 45%;
    left: 21%;
    transform: translateY(-12px);
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ffffff;

    @media (min-width: $tablet-width) {
      top: 60%;
      left: 36%;
    }

    @media (min-width: $desktop-width) {
      top: 59%;
      left: 27%;
    }
  }

  &--replay {
    margin-left: 23px;
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      margin-left: 35px;
      margin-bottom: 10px;
      order: -1;
      background-color: transparent;
      margin-top: 15px;
    }
  }

  &--subtitles {
    margin-left: 134px;
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      background-color: transparent;
      margin-top: 25px;
      margin-left: 42px;
    }
  }

  &--fullscreen {
    margin-left: 31px;
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      background-color: transparent;
      margin-top: 25px;
    }
  }
}

.video-player__volume-scale {
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  opacity: 0.3;
}

.video-player__icon {
  padding: 0;
  fill: #5c6870;

  @media (min-width: $tablet-width) {
    fill: $color-white;
  }

  &:hover {
    fill: $color-greyblack;

    @media (min-width: $tablet-width) {
      fill: $color-white;
      opacity: 60%;
    }
  }

  &:active {
    fill: $color-medium-grey-3;

    @media (min-width: $tablet-width) {
      fill: $color-white;
      opacity: 30%;
    }
  }
}
