.video {
  position: relative;
  padding-bottom: 37px;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    padding: 36px 60px 43px 60px;
    max-width: 768px;
    height: auto;
    max-height: 100%;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    //margin: 0 auto;
    padding: 39px 200px 87px 200px;
  }
}

.video__title {
  color: $color-black;
  padding-top: 32px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.video__description {
  margin-top: 28px;
  margin-bottom: 34px;
  padding: 0 40px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
    margin-bottom: 74px;
    line-height: 24px;
    padding-left: 110px;
    padding-right: 110px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 190px;
    padding-right: 190px;
    margin-top: 31px;
    margin-bottom: 70px;
  }
}
