//COLOR VARIABLES

$color-sky: #81b3d2;
$color-sky-light: #9ac2db;
$color-sky-medium: #678fa8;
$color-white: #ffffff;
$color-extralight-grey: #eeeeee;
$color-light-grey: #d6d6d6;
$color-black: #000000;
$color-greyblack: #333333;


//FONT-SIZE VARIABLES
$size-title: 18px;
$height-title: 26px;
$weight-bold: 700;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
